<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไขเมนู</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card">
    <div class="card-header">
  
    </div>
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">IDอาหาร</span>  
        </div>
        <input type="text" class="form-control" placeholder="IDอาหาร" aria-label="IDอาหาร" [(ngModel)]="foodID"  aria-describedby="addon-wrapping">
      </div>
    </div>
    
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ชื่ออาหาร</span>  
        </div>
        <input type="text" class="form-control" placeholder="ชื่ออาหาร" aria-label="ชื่ออาหาร" [(ngModel)]="foodname" aria-describedby="addon-wrapping">
      </div>
    </div>

    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ประเภท</span>
        </div>
        <input type="text" class="form-control" placeholder="ประเภท" aria-label="ประเภท" [(ngModel)]="foodtype" aria-describedby="addon-wrapping">
      </div>
    </div>
    
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ราคา</span>
        </div>
        <input type="text" class="form-control" placeholder="ราคา" aria-label="ราคา" [(ngModel)]="foodprice" aria-describedby="addon-wrapping">
      </div>
      </div>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" [(ngModel)]="exampleFormControlFile1">
        </div>
      </form>
  </div>


  <button type="button" class="btn btn-outline-success" (click) = "upload()">Success</button>
</ion-content>
