<ion-header>
  <ion-toolbar>
    <ion-title>เพิ่มเมนูใหม่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card">
    <div class="card-header">
     เพิ่มอาหาร
    </div>
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ชื่ออาหาร</span>  
        </div>
        <input type="text" class="form-control" placeholder="ชื่ออาหาร" aria-label="ชื่ออาหาร" aria-describedby="addon-wrapping">
      </div>
    </div>

    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ประเภท</span>
        </div>
        <input type="text" class="form-control" placeholder="ประเภท" aria-label="ประเภท" aria-describedby="addon-wrapping">
      </div>
    </div>
    
    <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">ราคา</span>
        </div>
        <input type="text" class="form-control" placeholder="ราคา" aria-label="ราคา" aria-describedby="addon-wrapping">
      </div>
      </div>
    
      <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping"></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      </div>
    
      <div class="card-body">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      </div>
  </div>

 
</ion-content>
